!!! 5
html
  head
    title
    // Viewport mobile tag for sensible mobile support 
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
          
    // STYLES
    link(rel="stylesheet", href="/linker/styles/bootstrap.css")
    link(rel="stylesheet", href="/linker/styles/dashboard.css")
    link(rel="stylesheet", href="/linker/styles/join.css")
    link(rel="stylesheet", href="/linker/styles/jquery.fileupload.css")
    link(rel="stylesheet", href="/linker/styles/jquery.switchButton.css")
    link(rel="stylesheet", href="/linker/styles/map.css")
    link(rel="stylesheet", href="/linker/styles/map_forms.css")
    link(rel="stylesheet", href="/linker/styles/select2/select2.css")
    link(rel="stylesheet", href="/linker/styles/table.css")
    // STYLES END
    
    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/jquery.ui.widget.js')
    script(src='/js/jquery.iframe-transport.js')
    script(src='/js/jquery.fileupload.js')

  body
    .navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          img.navbar-brand(src='/images/logo_words.png', style='height: 50px; position: relative; top: -2px;')
          ul#navbarMain.nav.navbar-nav
            - var active = ((req.target.controller === 'featurecollection') && (req.target.action === 'index')) ? "active" : ""
            li(class="#{active}")
              a#navTable(href="/featurecollection")
                | Features
            - if (req.target.controller != 'table')
              - var active = (req.target.controller === 'map') ? "active" : ""
              li
                a#navMap(href="/map")
                  | Map
              - var active = (req.target.controller === 'catalog') ? "active" : ""
              li
                a#navCatalog(href="/catalog")
                  | Catalog
              - var active = ((req.target.controller === 'layer') && (req.target.action === 'join')) ? "active" : ""
              li
                a#navJoin(href="/layer/join")
                  | Join

    block content

  // SCRIPTS
  script(type="text/javascript", src="/linker/js/bootstrap.js")
  script(type="text/javascript", src="/linker/js/jquery-ui.js")
  script(type="text/javascript", src="/linker/js/jquery.colorPicker.js")
  script(type="text/javascript", src="/linker/js/jquery.switchButton.js")
  script(type="text/javascript", src="/linker/js/leaflet.spin.js")
  script(type="text/javascript", src="/linker/js/leaflet_utilities.js")
  script(type="text/javascript", src="/linker/js/select2.js")
  script(type="text/javascript", src="/linker/js/select2.min.js")
  script(type="text/javascript", src="/linker/js/spin.min.js")
  script(type="text/javascript", src="/linker/js/timestamp.js")
  script(type="text/javascript", src="/linker/js/underscore-min.js")
  script(type="text/javascript", src="/linker/js/underscore.strings.js")
  // SCRIPTS END
