doctype html
html
  head
    title
    // Viewport mobile tag for sensible mobile support 
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    
    // CSS
    // link(rel="stylesheet", href="/styles/bootstrap.css")
    // link(rel="stylesheet", href="/styles/dashboard.css")
    // link(rel="stylesheet", href="/styles/jquery.fileupload.css")

    // Javascript
    script(src='/js/jquery-1.10.2.min.js')
    script(src="/js/jquery-ui.js")
    script(src='/js/jquery.ui.widget.js')
    script(src='/js/jquery.iframe-transport.js')
    script(src='/js/jquery.fileupload.js')
    script(src="/js/bootstrap.js")
    script(src="/js/underscore-min.js")
    script(src="/js/underscore.strings.js")

    // STYLES
    link(rel="stylesheet", href="/styles/L.Control.Locate.css")
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/dashboard.css")
    link(rel="stylesheet", href="/styles/easyPrint.css")
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/join.css")
    link(rel="stylesheet", href="/styles/jquery.fileupload.css")
    link(rel="stylesheet", href="/styles/jquery.switchButton.css")
    link(rel="stylesheet", href="/styles/select2/select2.css")
    // STYLES END

    //- link(rel="stylesheet", href="/styles/L.Control.Locate.css")
    //- link(rel="stylesheet", href="/styles/importer.css")
    //- link(rel="stylesheet", href="/styles/join.css")
    //- link(rel="stylesheet", href="/styles/jquery.switchButton.css")

    //- script(src="/js/dependencies/sails.io.js")
    //- script(src="/js/d3.v3.min.js")
    //- 
    //- script(src="/js/simple_statistics.js")
    //- script(src="/js/timestamp.js")

  body
    .navbar.navbar-default.navbar-fixed-top.navbar-inverse.no-print
      .container
        .navbar-header
          img.navbar-brand(src='/images/logo_words.png', style='height: 50px; position: relative; top: -2px;')
          ul#navbarMain.nav.navbar-nav
            - var active = ((req.options.controller === 'featurecollection') && (req.options.action === 'index')) ? "active" : ""
            li(class="#{active}")
              a#navTable(href="/featurecollection")
                | Features
            - if ((req.options.controller != 'table') && (req.options.action != 'show'))
              - var active = (req.options.controller === 'map') ? "active" : ""
              li
                a#navMap(href="/map")
                  | Map
              - var active = (req.options.controller === 'catalog') ? "active" : ""
              li
                a#navCatalog(href="/catalog")
                  | Catalog
              - var active = ((req.options.controller === 'layer') && (req.options.action === 'join')) ? "active" : ""
              li
                a#navJoin(href="/layer/join")
                  | Join
              - var active = ((req.options.controller === 'table') && (req.options.action === 'stats')) ? "active" : ""
              li
                a#navStats(href="/table/stats")
                  | Stats
              li
                a#navActivity(href="/activity")
                  | Activity


    block content
