extends ../layout

block content
  #activityContainer.container(style="margin-top: 50px;")
    .row
      .col-xs-1
        | Test
      .col-xs-10
        div &nbsp;
        .well
          ul.nav.nav-tabs
            li.active
              a(href="#") Home
            li
              a(href="#") Profile
            li
              a(href="#") Messages
        .well
          | .....
        .well
          | .....
        .well
          | .....
        .well
          | .....
        .well
          | .....
        .well
          | .....
        .well
          | .....
      .col-xs-1
        | Test