link(rel="stylesheet", href="/styles/bootstrap.css")

style.
  #openinfrastructrLogo {
    height: 169px;
    background-color: black;
  }

  .jumbotron {
    text-align: center;
    background-color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
  }

#openinfrastructrLogo
  a(href="/featurecollection")
    img(src="/images/logo_black.png")

  .container(style="padding-top: 40px;")
    .row
      .col-lg-4
        a(href="#" class="thumbnail")
          img(data-src="holder.js/100%x180" alt="..." src="/images/map.png")
        h3 Visualize
        p View maps of your data quickly and intuitively.  No in depth knowledge required.  Assestize your data now and see for yourself.
        
      .col-lg-4
        a(href="#" class="thumbnail")
          img(data-src="holder.js/100%x180" alt="..." src="/images/feature.png")
        h3 Track
        p Track what matters to you about your infrastructure or choose from a community supported catalog of predefined templates.
      
      .col-lg-4
        a(href="#" class="thumbnail")
          img(data-src="holder.js/100%x180" alt="..." src="/images/table.png")
        h3 Report
        p You can't manage what you can't measure.  Report your organizations successes or misses.  Make informed decisions on how best to manage your assets.

  .jumbotron
    .container
      h2 Open Source Asset Management
      p.lead Free, easy, attractive...  What's not to like?