mixin feature_collection_row(fc)
  tr.feature_collection(id="feature_collection_#{fc.id}")
    td.location_code
      a(href="/table/#{fc.id}")
        = fc.name
    td
      = fc.geometryType
    td
      span.badge
        = fc.totalFeatures
    td
      = fc.createdAt
    td
      = fc.updatedAt
    td
      span.glyphicon.glyphicon-remove.remove-featureClass(id="fc_#{fc.id}" style="color: red;")
      
    script.
      var td = $("#feature_collection_#{fc.id}").children();
      td[3].innerHTML = moment(new Date(td[3].innerHTML)).format('LLL');
      td[4].innerHTML = moment(new Date(td[3].innerHTML)).format('LLL');
