<div class="form_spinner form_weight">
  <input class="value" value="<%= parseFloat(weight).toFixed(1) %>" style="width:25px!important">
  <a href="#" class="plus">+</a>
  <a href="#" class="minus">-</a>
</div>