<div id="opacity_<%= layerID %>_<%= categoryID %>" class="form_spinner form_opacity">
  <input class="value" value="<%= parseFloat(opacity).toFixed(1) %>" style="width:25px!important">
  <a href="#" class="plus">+</a>
  <a href="#" class="minus">-</a>
</div>