<script type="text/javascript">

// Create and add the HTML for the Filter Creation Form.
// Template.assetFilterForm({featureCollectionID: fcID, properties:    generatePropertiesArray(f.properties)})
// // Setup the Filter dropdowns.
// $("#assetFilterFieldSelect").select2({
//   placeholder: "Select a Field..."
// });
// $("#assetFilterFieldSelect").on("change", function (e) {
//   var fcID = $('#assetFeatureCollectionID').val();
//   var field = $('#assetFilterFieldSelect').val();
//   var e2 = $("#assetFilterValueSelect");
//   var properties = _.uniq(colFeatures.find({"fcID": fcID}).map(function (feature) {return feature["properties"][field]}));
//   properties = properties.sort();
//   var html = _.reduce(properties,function (fragment,property) {return fragment + ("<option>" + property + "</option>")},"");
//   e2.html(html);
// });
// $("#assetFilterOperatorSelect").select2({
//   // placeholder: "Select a Field..."
// });
// $("#assetFilterValueSelect").select2({
//   // placeholder: "Select a Field..."
// });

</script>

